include CHANGELOG
include COPYING
include DESCRIPTION.rst
include doc/*.rst
include doc/*.py
include doc/*.jpg
include doc/*.JPG
include doc/Makefile
include doc/make.bat
include test/*.py
include test/data/*.jpg
include test/data/*.JPG
include test/data/MD5SUMS
include tox.ini
include src/setup_hacks.py
include src/pyexiv2/*.pxd
include src/pyexiv2/*.pyx
include src/pyexiv2/*.hpp
exclude src/pyexiv2/_libexiv2.cpp
prune doc/_build
